PORT=8081
HAAPI_CLIENT_ID=mcp-server-haapi
HAAPI_CLIENT_PASSWORD=Password1
EXTERNAL_BASE_URL=$EXTERNAL_BASE_URL
API_URL=$PORTFOLIO_API_INTERNAL_URL/api/portfolio
AUTHORIZATION_SERVER_BASE_URL=$EXTERNAL_BASE_URL
TOKEN_ENDPOINT=$EXTERNAL_BASE_URL/oauth/v2/oauth-token
AUTHORIZATION_ENDPOINT=$EXTERNAL_BASE_URL/oauth/v2/oauth-authorize
LOW_PRIVILEGE_SCOPE=portfolio
HIGH_PRIVILEGE_SCOPE=transactions
REDIRECT_URI=haapi:callback
ACR=urn:se:curity:authentication:access-token:access-token
DEVELOPER_MODE=1
HAAPI_TEST_ACCESS_TOKEN=