PORT=8081
HAAPI_CLIENT_ID=mcp-server-haapi
HAAPI_CLIENT_PASSWORD=Password1
EXTERNAL_BASE_URL=$EXTERNAL_BASE_URL
API_URL=$PORTFOLIO_API_INTERNAL_URL/api/portfolio
AUTHORIZATION_SERVER_BASE_URL=$EXTERNAL_BASE_URL
TOKEN_ENDPOINT=$EXTERNAL_BASE_URL/oauth/v2/oauth-token
AUTHORIZATION_ENDPOINT=$EXTERNAL_BASE_URL/oauth/v2/oauth-authorize
SCOPE=transactions
SCOPE_SUPPORTED=portfolio
REDIRECT_URI=haapi:callback
AUTHN_SERVER_BASE_URL=$EXTERNAL_BASE_URL
EXTERNAL_AUTHN_SERVER_BASE_URL=$EXTERNAL_BASE_URL
ACR=urn:se:curity:authentication:access-token:access-token
DEVELOPER_MODE=1
