PORT=8081
HAAPI_CLIENT_ID=mcp-server-haapi
HAAPI_CLIENT_PASSWORD=Password1
EXTERNAL_BASE_URL=https://$BASE_MCP_DOMAIN
API_URL=https://api.demo.example/api/todos
AUTHORIZATION_SERVER_BASE_URL=https://$BASE_IDSVR_DOMAIN
TOKEN_ENDPOINT=https://$BASE_IDSVR_DOMAIN/oauth/v2/oauth-token
AUTHORIZATION_ENDPOINT=https://$BASE_IDSVR_DOMAIN/oauth/v2/oauth-authorize

# See configuration.ts for explanation of this configuration
SCOPE=write
SCOPE_SUPPORTED=read

REDIRECT_URI=https://mcp.demo.example
AUTHN_SERVER_BASE_URL=https://$BASE_IDSVR_DOMAIN
EXTERNAL_AUTHN_SERVER_BASE_URL=https://$BASE_IDSVR_DOMAIN
# ACR=urn:se:curity:authentication:email:email-for-mcp
# ACR=urn:se:curity:authentication:html-form:htmlForm
ACR=urn:se:curity:authentication:access-token:access-token

