.widget_content {
    padding: 1em;
}

.stock {
    padding: 1em;
}

.stock_name {

}

.ticker {
    font-weight: bold;
}

.element_even {
    background-color: #EEEEEE;
}

.element_odd {

}

.button {
    margin: 0.5em;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.5em;
    font-weight: bold;
    color: white;
}

.buy {
    background-color: #48A69E
}

.sell {
    background-color: #D55BA0;
}

.quantity {
    font-size: 0.75em;
}

.quantity span {
    font-style: italic;
}

.delta {
    width: 50px;
    margin: 0.5em;
}

.currently_at {
    font-size: 0.75em;
}

.price {
    font-weight: bold;
}

.currency {

}

.auth_message {
    text-align: center;
}
